@charset "utf-8";

* { 
	text-align: center;
}

header { 
	background-image: url(../images/ocean.jpg);
	padding: 60px;
	margin: -30px;
	margin-bottom: 5px;
	background-size: cover;
}


p {
	font-family: 'Shippori Mincho B1', serif;
}
	

.title { 
	color: black; 
	border: 2px dotted black; 
}

img {
	width: 600px;
	padding-bottom: 5px;
	padding-top: 40px;
}

section {
	float: left;
	margin: 40px;
	border: 4px solid darkblue; 
	padding: 10px; 
	background-color: white; 
}

h5, h3 { 
	color: darkblue;
}

footer {
	color: darkblue;
	margin: 60px;
	padding-bottom: 10px;
}


